.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));
  position: relative;

  h1 {
    color: #2e0152;
    font-size: 3rem;
    text-align: center;
  }
}

.inner {
  width: 100%;
  max-width: 144rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin: 0 auto;
}

.snippets {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3.2rem 0;
  gap: 3.2rem;
}

.statSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.loader {
  position: absolute;
  top: 25%;
  left: 50%;
}

.noResults {
  font-size: 3rem;
  text-align: center;
}
